[submodule "libraries/HoloEverywhere"]
	path = libraries/HoloEverywhere
	url = https://github.com/Prototik/HoloEverywhere.git
[submodule "libraries/PagerSlidingTabStrip"]
	path = libraries/PagerSlidingTabStrip
	url = https://github.com/astuetz/PagerSlidingTabStrip.git
